html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;

}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    background-color: #d7ffdc;
}

h2{background-color: #4784a4;
    padding: 10px;
    font-family: Vast Shadow,Lucida Bright ,Georgia,serif;
}
h3{background-color: lightseagreen;
    padding: 10px;
}


footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #222222;
    color: #9d9d9d;
    text-align: center;
    padding: 15px;
}
form{color: #e5f1a8;}


.navbar-inverse {
    background-color: rgba(9, 70, 115, 0.89);
    border-color: #e5f1a8;
}

.navbar-inverse .navbar-brand {
    color: #e5f1a8;
}

.navbar-inverse .btn {
    background-color: #e5f1a8;
    color: #121212;
}

.jumbotron {
    margin-top: 0;
    padding-bottom: 25px;
    color: #ffffff;
    text-align: left;
    text-shadow: #2c4b80 3px 3px 4px;
    background-image: url(images/lee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron small{
    color: #ff3a53;
}

.jumbotron p{
    font-size: 1.3em;
    font-weight: bold;
}

#contact {color: #121212;
          font-size: 1.3em;
}

#skill{margin-top: 45px;}
#section{margin-top: 50px;}
.carousel-slide{width: 100%;}
.ul-skill{font-size: 1.3em;}